

*, 
*::before, 
*::after{
  box-sizing: border-box;
}

:root{
  --color-bg: hsl(240, 77%, 7%);
  --color-bg-haze : hsla(240, 50%, 15%, 0.726);
  --color-primary: ;
  --accent-color: hsl(20,100%,55%);
  --accent-color-hover: rgba(255, 102, 26, 0.747);
  --color-white: #FFF;
  --color-gray: rgb(167, 167, 167);

  --container-width-lrg: 70%;
  --container-width-mdm: 84%;
  --container-width-sm: 94%;
}
html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: sans-serif;
  overflow: hidden;
  line-height: 1.5;
}
.container{
  width: var(--container-width-lrg);
  margin: 0 auto;
}

section{
  height: 100vh;
}

a{
  text-decoration: none;
  color: var(--color-white);
  border: 1px solid var(--color-gray);
  padding: .75rem 1.25rem;
  border-radius: 1em;
}